In [19]:
import OpenLA as la
# https://limu.ait.kyushu-u.ac.jp/~openLA/jupyter_examples/example_course_information.html
files_dir = '/Users/alejandrocremadesrocamora/repos/OpenLA/dummy_dataset'
course_info = la.CourseInformation(files_dir=files_dir, course_id="A")

In [5]:
users = course_info.user_id()
contents = course_info.contents_id()
lectures = course_info.lecture_week()
print(contents)
print(lectures)
print(users[:4])

['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8']
[1, 2, 3, 4, 5, 6, 7, 8]
['A_U1', 'A_U10', 'A_U100', 'A_U101']

In [6]:
course_info.contents_id_to_lecture_week(contents_id=['C2', 'C8'])

[2, 8]

In [7]:
course_info.lecture_week_to_contents_id(lecture_week=3)

'C3'

In [8]:
course_info.user_score(users[0])

72.0

In [9]:
course_info.user_score(users[0:5])

[72.0, 72.0, 82.0, 75.0, 91.0]

In [10]:
course_info.user_grade(users[0])

'C'

In [11]:
course_info.user_grade(users[0:5])

['C', 'C', 'B', 'C', 'A']

In [12]:
# high_score_users
course_info.users_in_selected_score(users, top=100, bottom=90)

['A_U67', 'A_U102', 'A_U86', 'A_U24']

In [13]:
# low_grade_users
course_info.users_in_selected_grade(users, grade="F")

['A_U70', 'A_U115', 'A_U117']

In [14]:
course_info.lecture_start_time(lectures[0])

Timestamp('2018-04-10 14:50:00')

In [15]:
course_info.lecture_end_time(lectures[0])

Timestamp('2018-04-10 16:20:00')

In [17]:
event_stream = course_info.load_eventstream()
event_stream.df

,userid,contentsid,operationname,pageno,marker,memo_length,devicecode,eventtime
0,A_U1,C1,PREV,10,NaN,0,tablet,2018-04-09 10:57:15
1,A_U1,C1,PREV,9,NaN,0,tablet,2018-04-09 11:00:59
2,A_U1,C1,PREV,8,NaN,0,tablet,2018-04-09 11:03:31
3,A_U1,C1,PREV,30,NaN,0,tablet,2018-04-10 10:14:12
4,A_U1,C1,PREV,29,NaN,0,tablet,2018-04-10 10:27:24
...,...,...,...,...,...,...,...,...
263279,A_U99,C8,NEXT,3,NaN,0,pc,2018-06-05 16:16:18
263280,A_U99,C8,ADD MARKER,4,difficult,0,pc,2018-06-05 16:18:34
263281,A_U99,C8,NEXT,4,NaN,0,pc,2018-06-05 16:19:24
263282,A_U99,C8,NEXT,5,NaN,0,pc,2018-06-05 16:20:45
263283,A_U99,C8,PREV,6,NaN,0,pc,2018-06-05 16:21:03

In [20]:
# Course information and event stream can be got simultaneously
course_info, event_stream = la.start_analysis(files_dir=files_dir, course_id="A")