In [1]:
# https://limu.ait.kyushu-u.ac.jp/~openLA/jupyter_examples/example_event_stream.html
import OpenLA as la
files_dir = '../../OpenLA/dummy_dataset'
course_info, event_stream = la.start_analysis(files_dir=files_dir, course_id="A")

In [2]:
event_stream.df

,userid,contentsid,operationname,pageno,marker,memo_length,devicecode,eventtime
0,A_U1,C1,PREV,10,NaN,0,tablet,2018-04-09 10:57:15
1,A_U1,C1,PREV,9,NaN,0,tablet,2018-04-09 11:00:59
2,A_U1,C1,PREV,8,NaN,0,tablet,2018-04-09 11:03:31
3,A_U1,C1,PREV,30,NaN,0,tablet,2018-04-10 10:14:12
4,A_U1,C1,PREV,29,NaN,0,tablet,2018-04-10 10:27:24
...,...,...,...,...,...,...,...,...
263279,A_U99,C8,NEXT,3,NaN,0,pc,2018-06-05 16:16:18
263280,A_U99,C8,ADD MARKER,4,difficult,0,pc,2018-06-05 16:18:34
263281,A_U99,C8,NEXT,4,NaN,0,pc,2018-06-05 16:19:24
263282,A_U99,C8,NEXT,5,NaN,0,pc,2018-06-05 16:20:45
263283,A_U99,C8,PREV,6,NaN,0,pc,2018-06-05 16:21:03

In [3]:
event_stream.num_users()

118

In [4]:
event_stream.user_id()[:10]

['A_U1',
 'A_U10',
 'A_U100',
 'A_U101',
 'A_U102',
 'A_U103',
 'A_U104',
 'A_U105',
 'A_U106',
 'A_U107']

In [5]:
event_stream.contents_id()

['C1', 'C2', 'C3', 'C4', 'C5', 'C7', 'C8', 'C6']

In [6]:
event_stream.operation_name()

['PREV',
 'NEXT',
 'CLOSE',
 'PAGE_JUMP',
 'OPEN',
 'BOOKMARK_JUMP',
 'ADD BOOKMARK',
 'ADD MARKER',
 'DELETE MARKER',
 'DELETE BOOKMARK',
 'ADD MEMO',
 'DELETE_MEMO',
 'CHANGE MEMO',
 'SEARCH',
 'SEARCH_JUMP',
 'LINK_CLICK']

In [8]:
event_stream.operation_count(user_id="A_U1")

{'NEXT': 936,
 'PREV': 463,
 'PAGE_JUMP': 25,
 'OPEN': 22,
 'CLOSE': 8,
 'ADD BOOKMARK': 8,
 'BOOKMARK_JUMP': 3,
 'ADD MARKER': 2,
 'DELETE MARKER': 1,
 'DELETE BOOKMARK': 1}

In [10]:
event_stream.operation_count(operation_name="NEXT",
                             user_id="A_U2",
                             contents_id="C1")

147

In [11]:
event_stream.marker_type()

['difficult', 'important']

In [12]:
event_stream.device_code()

['tablet', 'pc', 'mobile']