In [1]:
# https://limu.ait.kyushu-u.ac.jp/~openLA/jupyter_examples/example_transition.html
import OpenLA as la
files_dir = '../../OpenLA/dummy_dataset'
course_info, event_stream = la.start_analysis(files_dir=files_dir, course_id="A")

In [7]:
operations = ["NEXT", "PREV", "ADD MARKER"]
page_transition = la.convert_into_page_transition(event_stream,
                                                  invalid_seconds=10,
                                                  timeout_seconds=30*60,
                                                  user_id=event_stream.user_id()[:10],
                                                  contents_id=event_stream.contents_id()[0],
                                                  operation_name=operations,
                                                  count_operation=True
                                                  )

## Behavior in each page with consideration page transition, e.g. going back and jumping page

In [8]:
page_transition = la.convert_into_page_transition(event_stream=event_stream,
                                                  user_id=course_info.user_id()[:5],
                                                  contents_id="C1",
                                                  invalid_seconds=5,
                                                  timeout_seconds=20*60,
                                                  count_operation=True,
                                                  operation_name=["ADD MARKER", "ADD MEMO", "ADD BOOKMARK"],
                                                  separate_marker_type=False)

In [11]:
page_transition.df

,userid,contentsid,pageno,reading_seconds,time_of_entry,time_of_exit,ADD MARKER,ADD MEMO,ADD BOOKMARK
0,A_U1,C1,9,224,2018-04-09 10:57:15,2018-04-09 11:00:59,0,0,0
1,A_U1,C1,8,152,2018-04-09 11:00:59,2018-04-09 11:03:31,0,0,0
2,A_U1,C1,29,792,2018-04-10 10:14:12,2018-04-10 10:27:24,0,0,0
3,A_U1,C1,27,595,2018-04-10 10:27:24,2018-04-10 10:37:19,0,0,0
4,A_U1,C1,28,99,2018-04-10 15:13:55,2018-04-10 15:15:34,0,0,0
...,...,...,...,...,...,...,...,...,...
1333,A_U102,C1,9,23,2018-06-05 16:12:20,2018-06-05 16:12:43,1,0,0
1334,A_U102,C1,51,63,2018-06-05 16:12:43,2018-06-05 16:13:46,0,0,0
1335,A_U102,C1,47,330,2018-06-05 16:13:46,2018-06-05 16:19:16,0,0,0
1336,A_U102,C1,48,330,2018-06-05 16:19:16,2018-06-05 16:24:46,1,0,0
1337,A_U102,C1,23,473,2018-06-05 16:24:46,2018-06-05 16:32:39,0,0,0

In [12]:
page_transition.num_users()

5

In [13]:
page_transition.user_id()

['A_U1', 'A_U10', 'A_U100', 'A_U101', 'A_U102']

In [14]:
page_transition.contents_id()

['C1']

In [15]:
page_transition.operation_name()

['ADD MARKER', 'ADD MEMO', 'ADD BOOKMARK']

In [16]:
page_transition.operation_count(operation_name="ADD MARKER",
                                user_id="A_U1",
                                contents_id="C1")

2

In [17]:
page_transition.operation_count(operation_name=["ADD MARKER", "ADD BOOKMARK"],
                                user_id="A_U1",
                                contents_id="C1")

{'ADD MARKER': 2, 'ADD BOOKMARK': 3}

In [18]:
page_transition.num_unique_pages(user_id="A_U1", contents_id="C1")

67

In [19]:
page_transition.reading_seconds(user_id="A_U1", contents_id="C1")

42748

In [21]:
page_transition.reading_time(time_unit="hours", user_id="A_U1", contents_id="C1")

11.874444444444444

In [22]:
page_transition.num_transition(user_id="A_U1", contents_id="C1")

363